In [1]:
from src.datasets import TSPLibDataset
from src.solvers import TSPRandomSolver, TSPAttentionModelSolver
import pandas as pd
from tqdm.notebook import tqdm

In [2]:
dataset = TSPLibDataset()
random_solver = TSPRandomSolver()
attention_solver = TSPAttentionModelSolver.load_from_checkpoint('checkpoints/epoch=0-step=16.ckpt')

In [7]:
results = {
    'name': [],
    'tsplib_cost': [],
    'random_cost': [],
    'attention_cost': [],
}

for instance, solution in tqdm(dataset):
    results['name'].append(instance.name)
    tsplib_cost = None
    if solution is not None:
        tsplib_cost = instance.total_cost(solution)
    results['tsplib_cost'].append(tsplib_cost)
    random_cost = instance.total_cost(random_solver.solve(instance))
    results['random_cost'].append(random_cost)
    attention_cost = instance.total_cost(attention_solver.solve(instance))
    results['attention_cost'].append(attention_cost)

  0%|          | 0/28 [00:00<?, ?it/s]

In [8]:
pd.DataFrame(results)

        name  tsplib_cost  random_cost  attention_cost
0      eil51     7.159818    26.509584       14.579469
1   berlin52     5.577066    21.947964       11.454841
2       st70     7.098977    35.035980       17.102493
3      eil76     8.035723    37.081348       18.269037
4       pr76     6.966852    41.241570       16.016872
5      rat99          NaN    59.309322       22.895628
6    kroA100     8.760897    61.879753       22.292189
7    kroB100          NaN    58.996651       21.511333
8    kroC100     8.261938    56.694553       20.760521
9    kroD100     8.753275    53.794067       22.051100
10   kroE100          NaN    57.070049       21.382229
11     rd100     8.092283    60.062859       21.593483
12    eil101     9.272330    50.427177       21.492882
13    lin105     7.815094    56.158653       20.876686
14     pr124          NaN    74.760376       21.652540
15   bier127          NaN    36.850441       17.029907
16     ch130     8.841354    68.676140       23.403667
17     pr136          NaN    81.104858       26.480846
18     pr144          NaN    81.734741       22.897625
19   kroA150          NaN    84.212662       26.658199
20   kroB150          NaN    85.260773       26.715805
21     pr152          NaN    87.583267       21.288740
22      u159          NaN    93.332481       25.756042
23    rat195          NaN   108.621033       35.030983
24   kroA200          NaN   116.680969       32.202522
25     ts225          NaN   127.130615       35.360809
26    tsp225    12.474213   125.198441       33.764935
27     pr226          NaN   138.619217       22.745316